.add-recipe ul {
 display: flex;
 flex-direction: column;
 gap: 0.3rem;
}

.add-recipe.regular-vision ul {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}

.add-recipe li {
 list-style: none;
}

.add-recipe input,
.add-recipe textarea {
 flex: 1;
 color: inherit;
 font-family: inherit;
 font-weight: inherit;
 font-size: inherit;
 border: 1px solid var(--input-border);
 background-color: var(--bg-1);
 padding: 0.25rem;
}

.add-recipe textarea {
 resize: none;
}

.add-recipe.regular-vision .suggestive-input-wrapper {
 flex: 1;
}
