.page-content {
 display: flex;
 flex-direction: column;
 gap: var(--standard-gap);
 margin: 0.2rem;
}

.page-content.regular-vision {
 gap: var(--regular-vision-gap);
 max-width: 400px;
 margin: 1rem auto;
}
