.page-content {
 display: flex;
 flex-direction: column;
 gap: 0.2rem;
 min-height: calc(100vh - 6.24em);
 margin: 0.2rem;
}

.page-content.regular-vision {
 gap: 1rem;
 max-width: 800px;
 margin: 0 auto;
 padding: 1rem 0;
}

.page-content > ul {
 display: flex;
 flex-direction: column;
 gap: 0.3rem;
}
