.horizontal-ruler {
 height: 0.1px;
 width: 100vw;
 position: absolute;
 /* top: 50vh; */
 background-color: white;
}

:root {
 --bg: #0c0c1e;
 --bg-1: #151535;
 --bg-2: #1f1f4d;
 --bg-3: #282865;
 --bg-4: #32327d;
 --white: #fdfffc;
 --blue: #32327d;
 --green: #3b6d37;
 --red: #bb2901;
 --input-border: rgba(255, 255, 255, 0.1);
 --montserrat-height-surplus: calc(3.5 / 16);
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 word-wrap: break-word;
}

html {
 background-color: var(--bg);
 color: var(--white);
 font-family: "Montserrat";
 font-weight: 100;
 margin: 0;
 font-size: 42pt;
}

h1,
h2,
h3 {
 font-size: 1rem;
}

h1,
h2,
h3 {
 font-weight: 100;
}

h1 {
 font-size: 1.1rem;
}

h2 {
 font-size: 1.05rem;
}

a {
 text-decoration: none;
 color: inherit;
 cursor: pointer;
}

a:hover {
 opacity: 0.5;
 transition: 0.3s ease;
}

form {
 display: flex;
 flex-direction: column;
 gap: 0.3rem;
}

fieldset {
 display: flex;
 flex-direction: column;
 gap: 0.3rem;
 border: none;
}

legend {
 margin-bottom: 0.2rem;
}

label {
 display: none;
}

li {
 list-style: none;
}
